// Font

$font-family: 'Montserrat', Arial, sans-serif;
$font-size       : 1.3rem;
$font-weight     : normal;
$font-line-height     : 1.6rem;
$font-letter-spacing  : 0.01em;

// Color

$color-primary-dark: #030C3C;
$color-primary-light: #56689F;
$color-white: #ffffff;
$color-black: #000;
$color-black-light: #222;

$color-grey: #B2B2B2;
$color-grey-dark: #979797;
$color-grey-light: #CCC9C9;
$color-grey-lighter: #F9F9F9;

$color-red: #D13135;